html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.parrafo{
    color: blueviolet;
    padding: 5px;
}

.contenedor__titulo{
    width: 70%;
    height: auto;
    border: 5px;
    border-style: dashed;
    border-color: darkblue;
    text-align: center;
    margin: auto;
    background-color: aqua;
    
}

.contenedor__cabecera{
    
    width: 100%;
    height: 40px;
    background-color: rgb(199, 196, 21);
    color: aliceblue;
    margin: 0;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px auto;
    
}

.logo{
    height: 40px;
    width: 40px;
}